{% csrf_token %}

<div class="col-12">
    <div class="form-outline">
        {{ form.author }}
        {% for error in form.author.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
    </div>
</div>

<div class="col-12">
    <div class="form-outline">
        {{ form.email }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
    </div>
</div>
<div class="col-12">
    <div class="form-outline">
        {{ form.text }}
        {% for error in form.text.errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
    </div>
</div>

<div class="col-12">
    <button type="submit" class="btn btn-primary mt-4">{{ button_text }}</button>
</div>